/* Style for the table */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style for table header */
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* Alternate row background color */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect for rows */
tr:hover {
  background-color: #ddd;
}
